<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cus Dashboard</title>
    
</head>
<body >
    <button onclick="window.location.href='/sendcourier'">SendCourier</button>
    <button onclick="window.location.href='/enterTrackingNumber'">See Courier Status</button>
    <button onclick="window.location.href='/enterfullname'">See Booking History</button>
    <p>welcome</p>
</body>
</html>