<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Login</title>
   <!-- <link rel="stylesheet" href="/css/admin.css">-->
</head>
<body style="background-color:aqua; color: green;">

    
    
    <div class="page-container">
        <div class="header">
            <h1 style="color:black;font-size:40px;">Customer Login</h1>
        </div>
        
        <!-- Login Form -->
        <div class="main-content">
            <form th:action="@{/cuslogin}" method="post" th:object="${user}">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" th:field="*{username}" required><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" th:field="*{password}" required><br>

                <button type="submit">Login</button>
            </form>
            
            <!-- Display error message if login fails -->
            <p th:if="${error}" style="color: black;" th:text="${error}"></p>
        </div>
</body>
</html>
