<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Courier Management System</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body style="background-color:red; color: #fff;">

    <!-- Navigation bar -->
    <div class="navbar">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/admin}">Admin</a>
        <a th:href="@{/staff}">Staff</a>
        <a th:href="@{/customer}">Customer</a>
        <!-- Add more menu items as needed -->
    </div>
    
    
    <div class="page-container">
        <div class="header">
            <!--<img  class="logo" src="/cv.jpg" height="25" width="25" alt="Logo"> -->
            <h1 style="color:blue;font-size:40px;">Online Courier Management System</h1>
        </div>
        
       
        
    </div>
    
</body>
</html>
