<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pickup Log</title>
</head>
<body>
    <h1>Pickup Log</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Tracking Number</th>
                <th>Pickup Address</th>
                <th>Pickup City</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate over the courierDetailsList and display data in table rows -->
            <tr th:each="courierDetail : ${courierDetailsList}" >
                <td th:text="${courierDetail.trackingNumber}">Tracking Number</td>
                <td th:text="${courierDetail.pickupAddress}">Pickup Address</td>
                <td th:text="${courierDetail.pickupCity}">Pickup City</td>
                <!--<td><button onclick="pickupAction('${courierDetail.trackingNumber}')">Pickup</button></td>-->
                <td><form th:action="@{/pickup}" method="post">
                    <input type="hidden" name="trackingNumber" th:value="${courierDetail.trackingNumber}">
                    <button type="submit" >Pickup</button>
                </form></td>
            </tr>
        </tbody>
    </table>

    <script th:inline="javascript">
        // function pickupAction(trackingNumber) {
        //     // Perform pickup action here (you can use AJAX to send a request to the server)
        //     alert('Pickup action triggered ');
        // }
        function removeRow(button) {
            //console.log(trackingNumber);
            // Remove the row from the HTML table
            var row = button.closest('tr');
            if (row) {
                row.remove();
            } else {
                alert('Row not found');
            }
        }
    </script>
</body>
</html>
